h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: beige
}

.column{
    background-image: url(C:\Angular\NewOne\HotelApp\src\assets\img\kevin-angelso-TArrnDJuxak-unsplash.jpg);
    width: 100%;
    height: auto;
    //background-repeat: no-repeat;
}