
    
        

<br>
<br>

    
        <span style="font-weight:300; font-size:26px;  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(5, 79, 148); ">
            Delete User</span>

    

<p>
    <span style="font-size: large; font-weight: 100; font-family: Georgia, 'Times New Roman', Times, serif;">If you are sure to exit as our user, click Delete User. Clicking the button will erase all your transcation from out database.</span>
</p><br>
<p>
    <span style="font-size: 24px; font-weight: 300; font-family: Georgia, 'Times New Roman', Times, serif;">Do you wish to continue? If yes, click the button below.</span>
</p>
<br>
<br>
    <form (submit)="delete()">
       
        <div class="text-center">
           <button  type="submit"  class="btn btn-primary btn-lg btn-block">Delete User</button>
        </div>
        
     </form>
